main {
    padding: 1rem;
    background-color: rgb(109, 202, 202);
    margin-left: var(--sidebar-width);
    min-height: calc(100vh - var(--header-height));
    height: calc(100vh - var(--header-height));
    overflow: auto;
  }